#wrap {
    margin: auto;
    /* border: red 3px solid; */
    display: inline-block;
}

#myCanvas {
    border: 1px solid #d3d3d3;
}

#man {
    display: none;
    position: absolute;
}

#wrap {
    position: relative;
}

#success {
    display: none;
    border: 2px green solid;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 300px;
    margin-top: -100px;
    margin-left: -150px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: white;
}

#success_btn {
    border: 2px green solid;
    margin: auto;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
}

#success_btn:hover {
    cursor: pointer;
    background-color: lightblue;
}